DotNet2020/.vs/DotNet2020/v15/.suo
DotNet2020/.vs/DotNet2020/v15/Server/sqlite3/db.lock
DotNet2020/.vs/DotNet2020/v15/Server/sqlite3/storage.ide
DotNet2020/.vs/DotNet2020/v15/Server/sqlite3/storage.ide-shm
DotNet2020/.vs/DotNet2020/v15/Server/sqlite3/storage.ide-wal
DotNet2020/DotNet2020/obj/
DotNet2020/DotNet2020/bin/
